:root {
    --bg-dark: #0a0a0c;
    --neon-cyan: #00f5d4;
    --neon-pink: #ff007f;
}

body {
    background-color: var(--bg-dark);
    color: white;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.screen {
    width: 90%;
    max-width: 400px;
}

/* LOGO VE BAŞLIK */
.logo-box h1 {
    font-size: 70px;
    letter-spacing: 2px;
    color: var(--neon-cyan);
    text-shadow: 0 0 30px var(--neon-cyan);
    margin: 0 0 10px 0;
}

.logo-box p {
    color: white;
    font-size: 16px;
    margin-bottom: 50px;
}

.logo-box p span {
    color: var(--neon-pink);
}

/* BUTON TASARIMI */
.btn-neon {
    width: 100%;
    padding: 20px;
    border-radius: 50px;
    border: none;
    background: var(--neon-cyan);
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    color: black;
    box-shadow: 0 0 20px var(--neon-cyan);
    transition: 0.3s;
}

.btn-neon:hover {
    transform: scale(1.05);
}

/* ALT BİLGİ */
.footer-text {
    margin-top: 30px;
    font-size: 13px;
    color: #888;
}